:root {
    --x: 41;
    --y: 21;
}

body {
    margin: 20px;
}

.game-section {
    height: 50em;
    width: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    background: #ccc;
    width: 50em;
    height: 100em;
    display: grid;
    /* grid-template-rows: repeat(41, 1fr);
    grid-template-columns: repeat(21, 1fr); */
}

.piece {
    background-color: lightseagreen;
    border: 1px solid #000;
}