/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --goog_yellow: #f4b400;
  --goog_red: #db4437;
  --goog_blue: #4285f4;
  --goog_green: #0f9d58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font: 1rem/1.3 "Roboto", sans-serif;
  /* background: var(--bg_main); */
  color: var(--text_dark);
  padding: 70px;
}

/* CUSTOM STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.site-header {
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

.controls button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  border: 2px solid white;
}

.controls #btn-start {
  background: var(--goog_green);
  color: white;
}

.controls #btn-stop {
  background: var(--goog_red);
  color: white;
}

.controls #btn-reset {
  background: var(--goog_blue);
  color: white;
}

.timer-container {
  margin: 20px;
}

.timer {
  font-size: 5em;
}

.timer .timer_mins {
  font-weight: bold;
}
